<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QiJiMaShuStudents.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4432995FB2A956BDE4C9A483F48BE56DE2387A26</string>
				<key>dateExpires</key>
				<string>2018/8/23</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3ZC4VG35Y5.com.chezhilian.www-iOS-App</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3ZC4VG35Y5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>3ZC4VG35Y5.com.chezhilian.www-iOS-App</string>
				</array>
			</dict>
			<key>name</key>
			<string>cheZhiLian.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3f5692b0-5ccc-4452-8821-d2d174642845</string>
				<key>name</key>
				<string>chehzilianTwo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3ZC4VG35Y5</string>
				<key>name</key>
				<string>Hangzhou Zerosoft Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
